asgiref==3.5.2
async-timeout==4.0.3
certifi==2024.7.4
charset-normalizer==3.3.2
Deprecated==1.2.14
Django==4.1.13
django-braces==1.15.0
django-debug-toolbar==3.6.0
django-embed-video==1.4.4
django-redisboard==8.3.0
idna==3.7
packaging==24.1
pillow==10.4.0
pymemcache==3.5.2
redis==4.3.4
requests==2.32.3
six==1.16.0
sqlparse==0.4.2
urllib3==2.2.2
wrapt==1.16.0
